# Cloud Onepa Playout (Back & Front)
/target
/backend/target
/node_modules
/frontend/node_modules
/.env
/dist
/build
*.log
.DS_Store
/coverage
/.idea
/.vscode
*.swp
/media
/thumbnails
/playlists
/fillers
frontend/build_log*.txt
